@indent: 50px;


body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#content {
    margin: 50px 0px 50px 0px;
}

.flash-message {
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px @indent;
    p {
        padding: 5px;
        margin: 5px;
    }
}

.error {
    background: #EEB4B4;
    color: red;
}

.success {
    background: #B4EEB4;
    color: green;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}


#navigation {
    margin-left: auto;
    margin-right: auto;
    ul {
        text-align: center;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            display: inline;
            margin: 0px 30px 0px 30px;
            font-size: 30px;
            a {
                padding: 20px;
                background: #FF0000;
                color: #FFFFFF;
                text-decoration: none;
            }
            a:hover {
                background: #000000;
            }
        }
    }
}

#videos {
    img.picture {
        max-width: 320px;
        max-height: 240px;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        td {
            div.title p {
                text-decoration: underline;
                padding: 0px;
                margin: 0px;
            }
            vertical-align: top;
            padding: 10px 15px 15px 15px;
        }
    }
}

#users {
    table {
        td, th {
            text-align: left;
            padding: 5px 15px 5px 15px;
        }
    }
}