@(loginForm: Form[(String,String)])(implicit flash: Flash)

@import helper._

@main("Login", None) {

@form(routes.Authentication.authenticate) {
<h1>Sign in</h1>

@loginForm.globalError.map { error =>
<div class="error flash-message">
    <p>
        @error.message
    </p>
</div>
}

@flash.get("success").map { message =>
<div class="success flash-message">
    <p>
        @message
    </p>
</div>
}

@inputText(loginForm("username"))
@inputPassword(loginForm("password"))
<input type="submit" value="Login">
}
}