@(nodeCameras: NodeCameras, canAdd: Boolean)(implicit username: String)

@import helper._

@main("Computer node: " + nodeCameras.node.hostname, Some(username)) {

    <h1><a href="@routes.NodeCamerasController.cameras">Cameras</a> &gt; @nodeCameras.node.hostname</h1>

    @if(nodeCameras.cameras.isEmpty) {
        <p>There are no cameras installed on this computer node</p>
    } else {
        <ul>
            @nodeCameras.cameras.map { camera =>
                <li><a href='@routes.CameraController.camera(camera.id)'>@camera.description</a></li>
            }
        </ul>
    }

    @form(routes.NodeController.addCameraToNode(nodeCameras.node.id)) {
        <span title=@if(!canAdd) { "No devevices available on this node" }>
            <input type="submit" value="Add camera" @if(!canAdd) { disabled }>
        </span>
    }
}
