@(nodeCameras: NodeCameras, cameraForm: Form[newCamera])(implicit username: String)

@import helper._

@main("Camera @camera.id", Some(username)) {

<h1>@nodeCameras.node.hostname</h1>

<ul>
    @nodeCameras.cameras.map { camera =>
    <li><a href='@routes.CameraController.camera(camera.id)'>@camera.description</a></li>
    }
</ul>

<h2>Add a new camera to @nodeCameras.node.hostname</h2>

@cameraForm.globalError.map { error =>
<dd class="error">@error.message</dd>
}

@form(routes.NodeController.addCameraToNode(nodeCameras.node.id)) {
@inputText(cameraForm("Port"))
@inputText(cameraForm("Device"))
@inputText(cameraForm("Description"))
<input type="submit" value="Create">
}

}