@(username: Option[String], users: List[User], userForm: Form[UserRegistration])

@import helper._

@main("Users", username) {

<h1>@users.size user(s)</h1>

    <ul>
        @users.map { user =>
        <li>
            @user.username
            @user.password
            @user.salt
            @user.role_id

            @form(routes.UserController.deleteUser(user.username)) {
            <input type="submit" value="Delete">
            }
        </li>
        }
    </ul>

    <h2>Add a new User</h2>

    @userForm.globalError.map { error =>
        <dd class="error">@error.message</dd>
    }

    @form(routes.UserController.newUser) {
        @inputText(userForm("Username"))
        @inputPassword(userForm("Password"))
        @inputPassword(userForm("Confirm password"))
        @select(userForm("Role"), options(("view", "View"), ("admin", "Admin")))
        <input type="submit" value="Create">
    }
}