@(users: List[(User, Boolean)])(implicit username: String)

@import helper._

@main("Users", Some(username)) {
    <div id="users">
        <h1>User management</h1>

        <table>
            <th>Username</th><th>Role</th><th></th>
            @users.map { user =>
            <tr>
                <td>@user._1.username</td>
                <td>@user._1.role.capitalize</td>
                <td>
                @form(routes.UserController.deleteUser(user._1.username)) {
                    <span title=@if(!user._2) { "Super user can not be deleted" } else { "" }>
                    <input type="submit" value="Remove user" @if(!user._2) { disabled }>
                    </span>
                }
                </td>
            </tr>
            }
        </table>

        @form(routes.UserController.addUser()) {
            <input type="submit" value="Add user">
        }
    </div>
}