@(users: List[User], userForm: Form[UserRegistration])(implicit username: String)

@import helper._

@main("Users", Some(username)) {


<h1>@users.size @if(users.size == 1) { user } else { users }</h1>

<ul>
    @users.map { user =>
    <li>
        @user.username
        @user.password
        @user.salt
        @user.roleId

        @form(routes.UserController.deleteUser(user.username)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>

<h2>Add a new User</h2>

@userForm.globalError.map { error =>
<div class="error flash-message">
    <p>@error.message</p>
</div>
}

@form(routes.UserController.newUser) {
@inputText(userForm("Username"))
@inputPassword(userForm("Password"))
@inputPassword(userForm("Confirm password"))
@select(userForm("Role"), options(("view", "View"), ("admin", "Admin")))
<input type="submit" value="Create">
}
}